@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Source+Sans+Pro:wght@300&display=swap');


body {
    overflow-x: hidden;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    color: #7f1f7f;
    height: auto;
    /*display: flex;*/
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /*background: linear-gradient(rgb(156, 221, 230), rgb(48,62,143));
    background-color: #d4dde7;*/
    background-image: url("img/stockImg.jpg");
    padding-bottom: 4rem;
}

img {
    height: 2rem;
}

#home > div.caption.text-center > a{
    color: purple;
    border: purple;
    font-size: 2rem;
}

.navbar{
    text-transform: uppercase;
    font-size: 800;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    background: rgba(0 0,0,.5)!important;
    

}

.navbar-nav li {
    padding-top: .5rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: .6rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #7f1f77
}


.narrow {
    width: 80%;
    margin: 2rem auto;
    padding-top: 3rem;
}

.narrow h2 {
    font-size: 4rem;
    padding-bottom: 5rem;
    text-transform: uppercase;
}

.home-inner2 {
    background-image: url(img/static.jpeg);
}

.chart {
    background-color: rgb(240, 255, 255, 0.8);
    width: 100%;
}

.caption {
    
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 40%;
    /* Z index will let me display over content just FYI */
    z-index: 1;
    color: white;
    text-transform: uppercase;
    font-size: 8rem;
   
}

.caption h1 {
    font-size: 6rem;
    font-weight: 900;
    letter-spacing: .1rem;
    color: #7f1f77;
    text-shadow: .1rem, .1rem, .6rem black;
}

.caption h4 {
    font-size: 3rem;
    text-shadow: .1rem, .1rem, .6rem black;
    color: #7f1f77;
}

btn-lg {
   font-size: 2rem;
   border-radius: 0;
   
}

.jumbotron-fluid {
    border-radius: 0;
    /* background-image: url(/cryptoAppp/img/static.jpeg); */
    background-size: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, .1);
}

.fixed {
    background-image: url(img/wallstreet.jpeg);
    z-index: -1;
}

#dark{
    background-color: rgba(0,0,0, .6);
}

.fixed-background {
    padding-top: 3rem;
    color: white;
    padding-bottom: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#home > div.team > div > div.row.dark.text-center > div.col-12.text-center > h3 {
    text-transform: uppercase;
    margin-top: 3rem;
    margin-bottom: 4rem;
    font-size: 4rem;
}

#footer{
    background-color: #343a40;
    color: white;
    padding: 2rem 0 2rem;
    margin-top: 2rem;
}

#teamRow {
    margin: 10%
}



.card-title {
    text-decoration: underline;
} 

.dropdown-item:hover{
    background-color: rgb(81, 199, 235);
}
.btn {
    margin-left: 5px;
    margin-top: 5%;
}

.card {
   
    
    margin: 0 auto;
    width: 25rem;
}

#mainContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.col {
    margin: 0 auto;
}

.mb-3{
    height: 200px;
}

#signIn {
    width: 50%;
    margin-bottom: 5%;
    margin-top: 2%;
}



.container-fluid {
    background-color: rgba(0,0,0, .1);
    
}

.newsRow {
    width: 80%;
}

#mainContent > div:nth-child(n) > div > img {
    height: 14rem;
    
}

/* BEGIN DASHBOARD LAYOUT */
.dashboard-body{
   height: 100rem 
}

.dashboard-h1{
    display: flex;
    font-size: 6rem;
    justify-content: center;
    align-content: center;
    padding-top: 6rem;
}

.dashboard-col-body{
    display: flex;
   
    align-content: center;
    flex-direction: row;
    height: 40rem;
    background-color: rgb(188, 164, 164)
    
}

#chartHolder {
    display: flex;
    justify-content: space-around;
    align-content: center;

    height: 40rem;
    width: 60rem;
}

#whyCrypto > div.container-fluid.p-5.border.chart > div > div.row.fixedTable > div {
    width: 90%;
}

